<div class="row">
  <h1>Dev Tools</h1>

  <div class="small-12 column">
    <ul>
      <% @tools.each do |tool| %>
      <li>
        <%= link_to tool.name, tool_path(tool.id) %>
          <% if current_user && (current_user.admin? || tool.user) %>
        <%= button_to "Delete #{tool.name}", tool_path(tool), method: :delete %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "Add a dev tool!", new_tool_path %>
