/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

$secondary-color: #f4eaea;
$iron: #cccccc;

body {
  background: image-url(Colorful-Geometric-Wallpaper-23) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.tool-info {
  margin-bottom: 30px;
}

.background-box {
  background-color: $secondary-color;
  border: 50px $secondary-color solid;
  border-radius: 6px;
  margin-top: 20px;
}

.comment-list {
  list-style-type: none;
}

.review {
  border-top: 1px $iron solid;
  margin-top: 10px;
  padding-top: 5px;

  p {
    font-size: 90%;
    margin-bottom: 0;
  }
}

.comment-div {
  background: darken($secondary-color, 4%);
  font-size: 90%;
  padding-top: 8px;

  li {
    border-top: 1px darken($secondary-color, 15%) solid;
    font-size: 90%;
    padding-bottom: 6px;
    padding-top: 10px;
  }

  li,
  .accordion {
    margin-right: 12px;
  }

  .accordion {
    margin-bottom: 20px;
  }
}

.user-attribution {
  color: darken($secondary-color, 60%);

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.accordion-navigation {
  padding: 2px;
}

.new-review-form {
  margin-top: 20px;
}

// .new-comment-form {
//   margin-top: 20px;
// }
