<div class="row">
  <h1>Categories</h1>

  <div class="small-12 column">
    <ul>
      <% @categories.each do |category| %>
      <li><%= link_to category.name, category_path(category.id) %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= paginate @tools %>
