<div class="row">
  <h1><%= @category.name %></h1>

  <div class="small-12 column">
    <ul>
      <% @category.tools.each do |tool| %>
      <li><%= link_to tool.name, tool_path(tool.id) %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "Add a dev tool!", new_tool_path %>
